.photo-grid__list{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  width: calc(100% - 2*48px);
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    width: calc(100% - 2*16px);
    gap: 12px;
  }
}
